In [1]:
#Add Dependencies
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sqlalchemy import create_engine
import psycopg2

In [2]:
db_password = 'aa966845'
#db_password = 'akshaj10'

In [3]:
# Loading data
file_path = "/Users/archieanand/Desktop/Analysis/Working/oscars_clean.csv"
#file_path = "Resources/the_oscar_award.csv"
df = pd.read_csv(file_path)

In [4]:
df.head()

   Unnamed: 0              film  winner    imdb_id             title
0           0         The Noose   False  tt0052063         The Noose
1           1  The Last Command    True  tt0019071  The Last Command
2           2  The Last Command   False  tt0019071  The Last Command
3           3        7th Heaven    True  tt0018379        7th Heaven
4           4        7th Heaven   False  tt0018379        7th Heaven

In [5]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/awardwinners"

In [6]:
engine = create_engine(db_string)

In [7]:
df.to_sql(name='oscars_clean', con=engine)