In [9]:
#Add Dependencies
import pandas as pd
import numpy as np
# import psycopg2 as pg
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [10]:
read_file = "../Working/the_oscar_award.csv"
write_file = "../Resources/oscars_clean.csv"

#read_file = "/Users/archieanand/Desktop/Analysis/Working/the_oscar_award.csv"
#write_file = "/Users/archieanand/Desktop/Analysis/Working/oscars_clean.csv"

In [14]:
# Import our input dataset
oscars_df = pd.read_csv(read_file, index_col=False)
oscars_df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [15]:
# Verify Oscar Data Column Types
oscars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10395 entries, 0 to 10394
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10395 non-null  int64
 1   year_ceremony  10395 non-null  int64
 2   ceremony       10395 non-null  int64
 3   category       10395 non-null  object
 4   name           10395 non-null  object
 5   film           10091 non-null  object
 6   winner         10395 non-null  bool
dtypes: bool(1), int64(3), object(3)
memory usage: 497.5+ KB

In [16]:
# Compare values present
oscars_df.film.value_counts()

A Star Is Born                25
Titanic                       16
Mutiny on the Bounty          15
Moulin Rouge                  15
All about Eve                 14
                              ..
Memorable                      1
White Bim Black Ear            1
A Better Life                  1
Curse of the Golden Flower     1
Cats' Play                     1
Name: film, Length: 4833, dtype: int64

In [17]:
#drop columns not needed for analysis
oscars_df= oscars_df.drop(columns=["year_film", "year_ceremony", "ceremony", "category","name"])
oscars_df.head()

               film  winner
0         The Noose   False
1  The Last Command    True
2   A Ship Comes In   False
3        7th Heaven    True
4    Sadie Thompson   False

In [18]:
#check Dataset
oscars_df.head()

               film  winner
0         The Noose   False
1  The Last Command    True
2   A Ship Comes In   False
3        7th Heaven    True
4    Sadie Thompson   False

In [23]:
#Export Dataset to CSV File
oscars_df.to_csv(write_file, index=False)