In [1]:
#Add Dependencies
import pandas as pd
import numpy as np

In [2]:
#Setup File System
read_oscars_file = "../Resources/oscars_clean.csv"
read_movies_file = "../Resources/movies_clean.csv"
write_file = "../Resources/movies_oscars_combined.csv"

#read_file = "/Users/archieanand/Desktop/Analysis/Working/the_oscar_award.csv"
#write_file = "/Users/archieanand/Desktop/Analysis/Working/oscars_clean.csv"

In [3]:
# Import our Oscar dataset
oscars_df = pd.read_csv(read_oscars_file, index_col=False)
oscars_df.head()

               film  winner
0         The Noose   False
1  The Last Command    True
2   A Ship Comes In   False
3        7th Heaven    True
4    Sadie Thompson   False

In [4]:
oscars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10395 entries, 0 to 10394
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   film    10091 non-null  object
 1   winner  10395 non-null  bool
dtypes: bool(1), object(1)
memory usage: 91.5+ KB

In [5]:
oscars_df.sort_values(by='winner', ascending=False)

                                   film  winner
10394                               NaN    True
3075                             Picnic    True
3078    Love Is a Many-Splendored Thing    True
7969                    American Beauty    True
7968                             Tarzan    True
...                                 ...     ...
3864   Meredith Willson's The Music Man   False
3861          The Pigeon That Took Rome   False
3860               Period of Adjustment   False
3859                    The Longest Day   False
5197          Thunderbolt and Lightfoot   False

[10395 rows x 2 columns]

In [6]:
oscars_df = oscars_df.drop_duplicates(subset='film', keep='first')

In [7]:
oscars_df = oscars_df.dropna()

In [8]:
movies_df = pd.read_csv(read_movies_file, index_col=False)
movies_df.head()

,imdb_id,budget,original_title,popularity,revenue,runtime,title,vote_average,vote_count,production,country,new_genre,Release_year
0,tt0114709,30000000,Toy Story,30000000.0,373554033.0,81.0,Toy Story,7.7,5415.0,Pixar Animation Studios,United States of America,Animation,1995
1,tt0113497,65000000,Jumanji,65000000.0,262797249.0,104.0,Jumanji,6.9,2413.0,TriStar Pictures,United States of America,Adventure,1995
2,tt0113228,0,Grumpier Old Men,0.0,0.0,101.0,Grumpier Old Men,6.5,92.0,Warner Bros.,United States of America,Romance,1995
3,tt0114885,16000000,Waiting to Exhale,16000000.0,81452156.0,127.0,Waiting to Exhale,6.1,34.0,Twentieth Century Fox Film Corporation,United States of America,Comedy,1995
4,tt0113041,0,Father of the Bride Part II,0.0,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,Sandollar Productions,United States of America,Comedy,1995

In [9]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44678 entries, 0 to 44677
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         44678 non-null  object
 1   budget          44678 non-null  int64
 2   original_title  44678 non-null  object
 3   popularity      44678 non-null  float64
 4   revenue         44678 non-null  float64
 5   runtime         44678 non-null  float64
 6   title           44678 non-null  object
 7   vote_average    44678 non-null  float64
 8   vote_count      44678 non-null  float64
 9   production      44678 non-null  object
 10  country         44678 non-null  object
 11  new_genre       44678 non-null  object
 12  Release_year    44678 non-null  int64
dtypes: float64(5), int64(2), object(6)
memory usage: 4.4+ MB

In [10]:
combined_df = pd.merge(movies_df, oscars_df, how='left', left_on='title', right_on='film' )
combined_df.shape

(44678, 15)

In [11]:
combined_df

,imdb_id,budget,original_title,popularity,revenue,runtime,title,vote_average,vote_count,production,country,new_genre,Release_year,film,winner
0,tt0114709,30000000,Toy Story,30000000.0,373554033.0,81.0,Toy Story,7.7,5415.0,Pixar Animation Studios,United States of America,Animation,1995,Toy Story,False
1,tt0113497,65000000,Jumanji,65000000.0,262797249.0,104.0,Jumanji,6.9,2413.0,TriStar Pictures,United States of America,Adventure,1995,NaN,NaN
2,tt0113228,0,Grumpier Old Men,0.0,0.0,101.0,Grumpier Old Men,6.5,92.0,Warner Bros.,United States of America,Romance,1995,NaN,NaN
3,tt0114885,16000000,Waiting to Exhale,16000000.0,81452156.0,127.0,Waiting to Exhale,6.1,34.0,Twentieth Century Fox Film Corporation,United States of America,Comedy,1995,NaN,NaN
4,tt0113041,0,Father of the Bride Part II,0.0,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,Sandollar Productions,United States of America,Comedy,1995,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44673,tt0102797,0,Robin Hood,0.0,0.0,104.0,Robin Hood,5.7,26.0,Westdeutscher Rundfunk (WDR),Canada,Drama,1991,Robin Hood,False
44674,tt2028550,0,Siglo ng Pagluluwal,0.0,0.0,360.0,Century of Birthing,9.0,3.0,Sine Olivia,Philippines,Drama,2011,NaN,NaN
44675,tt0303758,0,Betrayal,0.0,0.0,90.0,Betrayal,3.8,6.0,American World Pictures,United States of America,Action,2003,Betrayal,False
44676,tt0008536,0,Satana likuyushchiy,0.0,0.0,87.0,Satan Triumphant,0.0,0.0,Yermoliev,Russia,Action,1917,NaN,NaN
44677,tt6980792,0,Queerama,0.0,0.0,75.0,Queerama,0.0,0.0,Other,United Kingdom,Action,2017,NaN,NaN

In [12]:
combined_df = combined_df.drop_duplicates()

In [13]:
combined_df.set_index("imdb_id")

,budget,original_title,popularity,revenue,runtime,title,vote_average,vote_count,production,country,new_genre,Release_year,film,winner
imdb_id,,,,,,,,,,,,,,
tt0114709,30000000,Toy Story,30000000.0,373554033.0,81.0,Toy Story,7.7,5415.0,Pixar Animation Studios,United States of America,Animation,1995,Toy Story,False
tt0113497,65000000,Jumanji,65000000.0,262797249.0,104.0,Jumanji,6.9,2413.0,TriStar Pictures,United States of America,Adventure,1995,NaN,NaN
tt0113228,0,Grumpier Old Men,0.0,0.0,101.0,Grumpier Old Men,6.5,92.0,Warner Bros.,United States of America,Romance,1995,NaN,NaN
tt0114885,16000000,Waiting to Exhale,16000000.0,81452156.0,127.0,Waiting to Exhale,6.1,34.0,Twentieth Century Fox Film Corporation,United States of America,Comedy,1995,NaN,NaN
tt0113041,0,Father of the Bride Part II,0.0,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,Sandollar Productions,United States of America,Comedy,1995,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt0102797,0,Robin Hood,0.0,0.0,104.0,Robin Hood,5.7,26.0,Westdeutscher Rundfunk (WDR),Canada,Drama,1991,Robin Hood,False
tt2028550,0,Siglo ng Pagluluwal,0.0,0.0,360.0,Century of Birthing,9.0,3.0,Sine Olivia,Philippines,Drama,2011,NaN,NaN
tt0303758,0,Betrayal,0.0,0.0,90.0,Betrayal,3.8,6.0,American World Pictures,United States of America,Action,2003,Betrayal,False
tt0008536,0,Satana likuyushchiy,0.0,0.0,87.0,Satan Triumphant,0.0,0.0,Yermoliev,Russia,Action,1917,NaN,NaN
tt6980792,0,Queerama,0.0,0.0,75.0,Queerama,0.0,0.0,Other,United Kingdom,Action,2017,NaN,NaN

In [14]:
combined_df

,imdb_id,budget,original_title,popularity,revenue,runtime,title,vote_average,vote_count,production,country,new_genre,Release_year,film,winner
0,tt0114709,30000000,Toy Story,30000000.0,373554033.0,81.0,Toy Story,7.7,5415.0,Pixar Animation Studios,United States of America,Animation,1995,Toy Story,False
1,tt0113497,65000000,Jumanji,65000000.0,262797249.0,104.0,Jumanji,6.9,2413.0,TriStar Pictures,United States of America,Adventure,1995,NaN,NaN
2,tt0113228,0,Grumpier Old Men,0.0,0.0,101.0,Grumpier Old Men,6.5,92.0,Warner Bros.,United States of America,Romance,1995,NaN,NaN
3,tt0114885,16000000,Waiting to Exhale,16000000.0,81452156.0,127.0,Waiting to Exhale,6.1,34.0,Twentieth Century Fox Film Corporation,United States of America,Comedy,1995,NaN,NaN
4,tt0113041,0,Father of the Bride Part II,0.0,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,Sandollar Productions,United States of America,Comedy,1995,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44673,tt0102797,0,Robin Hood,0.0,0.0,104.0,Robin Hood,5.7,26.0,Westdeutscher Rundfunk (WDR),Canada,Drama,1991,Robin Hood,False
44674,tt2028550,0,Siglo ng Pagluluwal,0.0,0.0,360.0,Century of Birthing,9.0,3.0,Sine Olivia,Philippines,Drama,2011,NaN,NaN
44675,tt0303758,0,Betrayal,0.0,0.0,90.0,Betrayal,3.8,6.0,American World Pictures,United States of America,Action,2003,Betrayal,False
44676,tt0008536,0,Satana likuyushchiy,0.0,0.0,87.0,Satan Triumphant,0.0,0.0,Yermoliev,Russia,Action,1917,NaN,NaN
44677,tt6980792,0,Queerama,0.0,0.0,75.0,Queerama,0.0,0.0,Other,United Kingdom,Action,2017,NaN,NaN

In [15]:
movie_us_df = combined_df[combined_df['country'] == 'United States of America']
movie_us_df.shape

(18271, 15)

In [16]:
#Fill null values in winner column to False 
movie_us_df["winner"].fillna("False", inplace = True)

/Users/will/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [17]:
movie_us_df.shape

(18271, 15)

In [18]:
movie_us_df

,imdb_id,budget,original_title,popularity,revenue,runtime,title,vote_average,vote_count,production,country,new_genre,Release_year,film,winner
0,tt0114709,30000000,Toy Story,30000000.0,373554033.0,81.0,Toy Story,7.7,5415.0,Pixar Animation Studios,United States of America,Animation,1995,Toy Story,False
1,tt0113497,65000000,Jumanji,65000000.0,262797249.0,104.0,Jumanji,6.9,2413.0,TriStar Pictures,United States of America,Adventure,1995,NaN,False
2,tt0113228,0,Grumpier Old Men,0.0,0.0,101.0,Grumpier Old Men,6.5,92.0,Warner Bros.,United States of America,Romance,1995,NaN,False
3,tt0114885,16000000,Waiting to Exhale,16000000.0,81452156.0,127.0,Waiting to Exhale,6.1,34.0,Twentieth Century Fox Film Corporation,United States of America,Comedy,1995,NaN,False
4,tt0113041,0,Father of the Bride Part II,0.0,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,Sandollar Productions,United States of America,Comedy,1995,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44667,tt4130180,0,The Morning After,0.0,0.0,79.0,The Morning After,4.0,2.0,Oops Doughnuts Productions,United States of America,Comedy,2015,The Morning After,False
44669,tt0038621,0,House of Horrors,0.0,0.0,65.0,House of Horrors,6.3,8.0,Universal Pictures,United States of America,Horror,1946,NaN,False
44671,tt0252966,0,The Burkittsville 7,0.0,0.0,30.0,The Burkittsville 7,7.0,1.0,Neptune Salad Entertainment,United States of America,Horror,2000,NaN,False
44672,tt0112613,0,Caged Heat 3000,0.0,0.0,85.0,Caged Heat 3000,3.5,1.0,Concorde-New Horizons,United States of America,Science Fiction,1995,NaN,False
44675,tt0303758,0,Betrayal,0.0,0.0,90.0,Betrayal,3.8,6.0,American World Pictures,United States of America,Action,2003,Betrayal,False

In [20]:
combined_df.to_csv(write_file, index="imdb_id")