In [1]:
#Add Dependencies
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sqlalchemy import create_engine
import psycopg2

In [2]:
db_password = 'aa966845'
#db_password = 'akshaj10'

In [3]:
# Loading data
file_path = "/Users/archieanand/Desktop/Analysis/Working/the_oscar_award.csv"
#file_path = "Resources/the_oscar_award.csv"
df = pd.read_csv(file_path)

In [4]:
df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [5]:
df.shape

(10395, 7)

In [6]:
df.dropna()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10386,2019,2020,92,WRITING (Original Screenplay),Written by Rian Johnson,Knives Out,False
10387,2019,2020,92,WRITING (Original Screenplay),Written by Noah Baumbach,Marriage Story,False
10388,2019,2020,92,WRITING (Original Screenplay),Written by Sam Mendes & Krysty Wilson-Cairns,1917,False
10389,2019,2020,92,WRITING (Original Screenplay),Written by Quentin Tarantino,Once upon a Time...in Hollywood,False
10390,2019,2020,92,WRITING (Original Screenplay),"Screenplay by Bong Joon Ho, Han Jin Won; Story...",Parasite,True

In [9]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/awardwinners"
#db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [10]:
engine = create_engine(db_string)

In [11]:
df.to_sql(name='award', con=engine)

#### One Hot encoding

In [ ]:
top_10_labels = [y for y in df.genres.value_counts().sort_values(ascending=False).head(10).index]
top_10_labels

In [ ]:
# get whole set of dummy variables, for all the categorical variables

def one_hot_encoding_top_x(df, variable, top_x_labels):
    # function to create the dummy variables for the most frequent labels
    # we can vary the number of most frequent labels that we encode
    
    for label in top_x_labels:
        df[variable+'_'+label] = np.where(df[variable]==label, 1, 0)

In [ ]:
#df = pd.read_csv('mercedesbenz.csv', usecols=['X1', 'X2'])
df = movie_us_df[movie_cat].copy()
df.head(3)

In [ ]:
# encode X2 into the 10 most frequent categories
one_hot_encoding_top_x(df, 'genres', top_10_labels)
df.shape